<!DOCTYPE html>
<html>
  <head>
    <title>Simple click event</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  <div class "container">
    <div class ="page" id="p1">
          <div class ="logo">
          </div>
              <div class ="search">
                <form>
                  <h1> Pick Up </h1>

                  <input type="text" name="address" placeholder="E.G 123 Elm St">
                  <input type="text" name="city"    placeholder="E.G New York">
                  <input type="text" name="city"    placeholder="E.G 12590">
                  <br>
                  <h1> Drop Off</h1>
                    <input  type="text"  name="address"     placeholder="E.G. 39 5TH AVE">
                    <input  type="text"  name="city"        placeholder="E.G. NEW YORK">
                    <input  type="text"  name="city"        placeholder="E.G. 12587"><br>
                    <input  type="submit" value="Get Fare">
                </form>
              </div>
     </div>
  </div>

    <div id="map"></div>

    <script>
      function initMap() {
        var myLatlng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatlng
        });

        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Click to zoom'
        });

        map.addListener('center_changed', function() {
          // 3 seconds after the center of the map has changed, pan back to the
          // marker.
          window.setTimeout(function() {
            map.panTo(marker.getPosition());
          }, 3000);
        });

        marker.addListener('click', function() {
          map.setZoom(8);
          map.setCenter(marker.getPosition());
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjz5F9aOz4-Qq-ENbLv2-xFwGD-nZL80o&callback=initMap">
    </script>

  </body>
</html>
