header{
  color: #000000 ;
  font-family: 'Armata', sans-serif;
  font-size: 53px;
  text-align: center;
  opacity: 1;
  -webkit-animation-name: logo;
 -webkit-animation-duration: 4s;
 }

@-webkit-keyframes logo{
0%  { color: #000000 ; opacity: 0.1; font-size: 40px;}
25%  { color: #f0f8ff ; opacity: 0.9; font-size: 58px;}
40%  { color: #000000 ; opacity: 0.6; font-size: 55px;}
65%  { color: #000000 ; opacity: 0.7; font-size: 53px;}
80%  { color: #000000 ; opacity: 0.8; font-size: 53px;}
100% { color: #000000 ; opacity: 0.9; font-size: 53px;}
}


h2{
   color: #000000 ;
   font-family: 'Armata', sans-serif;
  font-size: 25px;
  text-align: center;
}
  body{
     background-color: #f0f8ff ;
   }

.container{
       display: flex;
       flex-direction: column;
       width: 100vw;
}

.page {
  background-color: #ffffff ;
  display: flex;
  flex-direction:column;
  padding: 1%;
  height: 100vh;
  width: 100%;
 }
.search{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

form {
  /*position: absolute;*/
  top: 25%;
  left: 25%;
}

.user{

  top: 25%;
  left: 25%;
}

.logo{
  width: 100%;
}


#map{
  width:  300px;
  height: 300px;
}

input{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.button{
  align-items: center;
  }
#p2{
  background-color: #f0f8ff ;
}

.slide{

    background-color: #f0f8ff ;
    border: solid black;
    height: 200px;
    width:  200px;
}

.graph-container{

}


/*sign up*/

.container-sign-up-page{
  background-color: orange;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

}


.sign-up-form{

      background-color: #9E9E9E;
      position: absolute;
      height: 60%;
      width: 40%;
      top: 25%;
      left: 25%;
  }



.sign-up{
  align-items: center;

}
